In [ ]:
def fib(n) :
  if n==0 :
    return 0
  elif n==1 :
    return 1
  else :
    return (fib(n-1)+fib(n-2))

In [ ]:
fib(7)

13

In [ ]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1

    fib_prev = 0
    fib_curr = 1

    for _ in range(2, n + 1):
        fib_next = fib_prev + fib_curr
        fib_prev = fib_curr
        fib_curr = fib_next

    return fib_curr

In [ ]:
fibonacci(7)

13

In [ ]:
def factorial(n) :
  if n == 0 :
    return 1
  else :
    return n * factorial(n-1)

In [ ]:
print(factorial(4))

24

Analisis rekursif factorial:
Kasus penyetop (= nilai awal) n = 0 atau n = 1 yaitu
bernilai konstan 1
Kasus rekursif :
faktorial (n) =n * faktorial (n-1)

In [ ]:
#program factorial mengguakan while loop
n = 4
factorial = n

while n > 2 :
  n -= 1
  factorial = factorial*n
print(factorial)

24